<div class="navbar">
  <mat-toolbar [hidden]="isAuthenticated">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button mat-button >
          <mat-icon>home</mat-icon>
          <span class="logo">Coder</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
          <button mat-button >Contact Us</button>
          <button mat-button >About Us</button>
        </div>
        <!--for huge menus-->
        <button mat-button [routerLink]="['/login']">Login</button>

      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button >Home</button>
      <button mat-button >Contact Us</button>
      <button mat-button >About Us</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar [hidden]="!isAuthenticated">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button mat-button >
          <mat-icon>home</mat-icon>
          <span class="logo">Coder</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
          <button mat-button >Contact Us</button>
          <button mat-button >About Us</button>
        </div>
        <!--for huge menus-->
        <button mat-button [matMenuTriggerFor]="student">Student<mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="fees">Fees<mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #student="matMenu">
          <button mat-menu-item [routerLink]="['/student']">Add Student</button>
<!--          <button mat-menu-item [routerLink]="['/studentToCourse']">Add Course</button>-->
        </mat-menu>

        <mat-menu #fees="matMenu">
          <button mat-menu-item [routerLink]="['/fees']">Student Fees Entry</button>
<!--          <button mat-menu-item [routerLink]="['/feesDue']">View Due Fees</button>-->
        </mat-menu>

        <button mat-button (click)="logOut()">Logout</button>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button >Home</button>
      <button mat-button >Contact Us</button>
      <button mat-button >About Us</button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>








