<div>
  <div fxFlex="45">
    <div  style="background-color: transparent;">
      <mat-card fxFlex="90" style="background-color: lightgoldenrodyellow ; margin: 10px" [hidden]="showCourses">
        <div class="form-container">
          <form [formGroup] = studentForm >
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field>
              <input matInput placeholder="Student Name" formControlName="student_name">
<!--              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">-->
<!--                <mat-error *ngIf="studentForm.get('student_name').errors['required']">This field is Required</mat-error>-->
<!--              </div>-->
            </mat-form-field>
              <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0" [hidden]="showCourses">
              <mat-form-field class="col-10">
                <input matInput placeholder="Contact" formControlName="contact">
<!--                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">-->
<!--                  <mat-error *ngIf="studentForm.get('contact').errors['maxLength']">Maximum length exceeded</mat-error>-->
<!--                </div>-->
              </mat-form-field>
            </div>
              <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0"  [hidden]="showCourses">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
              </div>
              <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0" [hidden]="studentForm.value.id">
                <mat-form-field class="col-5">
                  <input matInput placeholder="Date" formControlName="date">
                </mat-form-field>
              </div>
              <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0" [hidden]="!studentForm.value.id" >
                <mat-form-field class="col-5">
                  <input placeholder="Effective Date" matInput [matDatepicker]="picker2"
                         formControlName="effective_date"
                         [min]="minDate"
                         [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0"  [hidden]="showCourses">
                <button mat-raised-button (click)="saveStudent()" [disabled]="studentForm.invalid" [hidden]="!showSave">Save</button>
                <button mat-raised-button [disabled]="studentForm.pristine" [hidden]="showSave" (click)="updateStudentInfo()">Update</button>
<!--                <button mat-raised-button (click)="clearForm()" [disabled]="studentForm.pristine">Clear</button>-->
                <button mat-raised-button (click)="clearForm()" [disabled]="!studentForm.value.student_name">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
      <mat-card fxFlex="100" [hidden]="!showCourses">
      <div>
        <div style="text-align: center">
          <h3>{{studentName}}</h3>
        </div>
        <mat-card style="background-color: wheat; margin-top: 20px">
          <div class="input-group rounded"  style="width: 70% ; margin-bottom: 25px">
            <input type="search" class="form-control rounded" placeholder="Search Course" aria-label="Search"
                 [(ngModel)]="searchCourse"  aria-describedby="search-addon" />
          </div>
          <table class="table table-hover">
            <thead>
            <th>SL No.</th>
            <th>Course</th>
            <th>Type</th>
            <th>Action</th>
            <!--                <th>Remove</th>-->
            <!--                <th>Save</th>-->
            </thead>
            <tbody>
            <tr *ngFor="let indexOfElement =index ; let item of courseList | filter : searchCourse |  paginate: { itemsPerPage: pageSize, currentPage: p }">
              <td>{{indexOfElement+1}}</td>
              <td>{{item.course_name}}</td>
              <td>{{item.type}}</td>
              <td [hidden]="item.isCourseSaved">
                <button class="btn" (click)="addCourse(item)" [hidden]="item.isCourseSet"><mat-icon><mat-icon>add_circle</mat-icon></mat-icon></button>
                <button class="btn" (click)="removeCourse(item)" [hidden]="!item.isCourseSet"><mat-icon>remove_circle</mat-icon></button>
                <input  placeholder="set fees"  style="width: 60px" [hidden]="!item.isCourseSet" [(ngModel)]="item.course_fees">
              </td>
              <td [hidden]="!item.isCourseSaved">Added</td>
              <td>
                <button class="btn btn-info"[hidden]="!item.isCourseSet" [disabled]="item.isCourseSaved" (click)="submitCourse(item)">Save</button>
              </td>

            </tr>
            </tbody>

          </table>
          <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
            <!--    https://www.npmjs.com/package/ngx-pagination-->
            <!--    npm i ngx-pagination-->
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <pagination-controls  id="some_id"
                                  (pageChange)="p=($event)"
                                  maxSize="5"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div  fxLayout="row" fxLayoutGap="5px"  style="align-content: center">
            <button class="btn btn-info" (click)="backToPrevious()">Back</button>
          </div>
        </mat-card>

      </div>

    </mat-card>
    </div>
  </div>
  <div fxFlex="55">
    <div style="background-color: transparent;">
      <mat-card fxFlex="100" style="background-color: darkseagreen ;margin: 5px">
        <div>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search..." [(ngModel)]="searchString" name="search" type="text" autofocus>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
            </mat-form-field>
          </div>
          <table class="table table-hover">
            <thead>
              <th>SL No.</th>
              <th>Student Name</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Edit</th>
              <th>Add Course</th>
              <th>Delete</th>

            </thead>
            <tbody>
              <tr *ngFor="let indexOfElemt = index; let item of studentList | filter : searchString | paginate: { itemsPerPage: pageSize, currentPage: p } " >
                <td>{{indexOfElemt+1}}</td>
                <td>{{item.student_name}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.address}}</td>
                <td><button class="mat-button" (click)="populateFormByStudent(item)"><mat-icon>edit</mat-icon></button></td>
                <td>
                  <button class="btn btn-info" (click)="addCourseToStudent(item)">Add</button>
                </td>
                <td><button class="mat-button" (click)="deleteStudent(item)"><mat-icon>delete</mat-icon></button></td>
              </tr>
            </tbody>
          </table>
          <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
            <!--    https://www.npmjs.com/package/ngx-pagination-->
            <!--    npm i ngx-pagination-->
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <pagination-controls  id="some_id"
                                  (pageChange)="p=($event)"
                                  maxSize="5"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>

